body {
    font-family: 'Poppins', sans-serif;
}
.text-center h1 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
hr {
    border: 0;
    border-top: 2px solid ;
    margin-top: 10px;
}
.formulario {
    display: grid;
    gap: 15px;
}
.form-group {
    display: flex;
    justify-content: space-between;
}
.formulario .calculadora {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; /* Espaçamento de 10px abaixo do formulário */
}
.formulario .calculadora:hover {
    background-color: #0056b3;
}